<table class='table'>
  <tr><%= attachment_image_tag @book.user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg" %></tr>
  <tr>
	  <th>name</th>
	  <th><%= @book.user.name %></th>
  </tr>
  <tr>
	  <th>introduction</th>
	  <th><%= @book.user.introduction %></th>
  </tr>
</table>

<div class='row'>
  <%= link_to '',edit_user_path(@book.user),class: "btn btn-outline-secondary btn-block fas fa-user-cog edit_user_#{@book.user_id}" %>
</div>